
@font-face{ 
    font-family:'leedo';
    src:url('/goodluck/fonts/goodluck02GX.ttf') format('truetype');
}

body {
    transform:translateZ(0);
}

html, body, #root {
    position: absolute;
    width: 100%;
    height: 100%;
}

#root {
    
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    font-family: leedo;
    color: HotPink;
}